@keyframes borderSpin {
  0% {
    --border-gradient-angle: 0turn
  }

  100% {
    --border-gradient-angle: 1turn
  }
}

flash-effect {
  display: grid;
  --outer-radius: 8px;
  --border-size: 3px;
  --inner-radius: calc(var(--outer-radius) - var(--border-size));

  /* border: 3px solid rgba(255, 255, 255, 0.07); */
  border-radius: var(--outer-radius);
  /* background: rgba(255, 255, 255, 0.07); */

  --border-gradient-angle: 0turn;
  overflow: hidden;

  &:hover .flash-effect__flash {
    opacity: 1;
  }

  > * {
    grid-area: 1/1;
  }
}


.flash-effect__flash {
  /* width: 100%; */
  /* height */
  background-size: contain;
  pointer-events: none;


  --color-a: rgba(71, 0, 249, 0.442);
  --color-b: #0901ffff;
  --color-c: rgb(1, 192, 255);


  background-image: conic-gradient(
    from var(--border-gradient-angle) at 50% 50%,
    transparent,
    var(--color-a) 10%,
    var(--color-b) 14%,
    var(--color-c) 17%,
    transparent 20%,
    transparent 50%,
    var(--color-a) 60%,
    var(--color-b) 64%,
    var(--color-c) 67%,
    transparent 70%
  );
  animation: borderSpin 3s linear infinite 0ms;
  transition: opacity 0.5s linear;
  opacity: 0;
}



.flash-effect__wrapper {
  margin: var(--border-size);
  border-radius: var(--inner-radius);
  background: var(--background);
}