project-steps-page {
  --code-background: #272822;

  display: block;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template: 
    "top top" auto
    "left right" 1fr / minmax(0, 1fr) minmax(0, 1fr);
  /* 1fr works "kinda" like flex-grow, but with minmax it's set to exactly same width for both */
  box-sizing: border-box;

  h1 {
    grid-area: left;
  }

  project-nav {
    --size-factor: .75;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-area: top;
  }

  .project-steps-page__actions-bar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .project-steps-page__description-panel {
    overflow: auto;
    grid-area: left;

    p {
      margin-top: 20px;
      font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
      font-size: 20px;
      letter-spacing: -0.06px;
      line-height: 32px;

      text-rendering: optimizelegibility;
      text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
    }
  }

  .project-steps-page__code-panel {
    min-height: 0;
    grid-area: right;
    display: flex;
    flex-direction: column;
  }

  code-block {
    min-height: 0;
  }
}