project-overview-page {
  display: block;
  padding: 20px;

  project-stepper {
    --size-factor: 1;
  }
}


.project-overview-page__wrapper {
  display: block;
  padding: 50px 50px 0;
}

.project-overview-page__title {
  text-align: center;
  font-size: 60px;
  /* color: #ffffff99; */
  font-weight: 600;
  line-height: 1;
  background: linear-gradient(131deg, rgba(255, 255, 254, 0.6) 0%, rgba(255, 255, 254, 0.9) 20%, rgba(255, 255, 254, 0.6) 40%, rgba(255, 255, 254, 0.6) 70%, rgba(255, 255, 254, 0.3) 75%, rgba(255, 255, 254, 0.6) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0px 0 7px rgba(255, 255, 255, 0.1);
}

.project-overview-page__description {
  max-width: 400px;
  margin: 20px auto 50px;
  text-align: center;
}

.project-overview-page__start-btn {
  display: block;
  width: fit-content;
  margin: 30px auto;
}