@property --border-gradient-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

:root {
  --background: #060515;
  --background-accent-a: #1846F750;
  --background-accent-b: #A1458560;
  --background-accent-c: #4556a160;
  --background-accent-d: #a100ff1f;
  /* --background-accent-d: #00ff151f; */
  /* --background-accent-d: #00ffff1f; */
  --text-secondary: #ffffffbb;
  --text-primary: #ffffff;
}

html {
  font-family: "Roboto", sans-serif;
  /* font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica; */
  font-weight: 400;
  font-style: normal;
}

html, body, main {
  height: 100%;
}

main {
  overflow: auto;
}

body {
  color: var(--text-primary);

  background: 
    radial-gradient(20vw 20vw at 10% 10%, var(--background-accent-a), transparent),
    radial-gradient(50vw 50vw at 90% 30%, var(--background-accent-d), transparent),
    radial-gradient(40vw 40vw at 20% 90%, var(--background-accent-b), transparent),
    radial-gradient(30vw 30vw at 75% 70%, var(--background-accent-c), transparent),
    var(--background);


     /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
             linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
             linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
   background:
     radial-gradient(circle at top left, transparent 15px, rgb(242, 76, 76) 0) top left,
     radial-gradient(circle at top right, transparent 15px, rgb(122, 170, 85) 0) top right,
     radial-gradient(circle at bottom right, transparent 15px, rgb(170, 85, 147) 0) bottom right,
     radial-gradient(circle at bottom left, transparent 15px, #58a 0) bottom left;
   background: conic-gradient(
     hsl(360 100% 50%),
     hsl(315 100% 50%),
     hsl(270 100% 50%),
     hsl(225 100% 50%),
     hsl(180 100% 50%),
     hsl(135 100% 50%),
     hsl(90 100% 50%),
     hsl(45 100% 50%),
     hsl(0 100% 50%)
   ); */
  background-size: contain;
  background-repeat: no-repeat;
  
}

.view {
  height: 100%;
  overflow: auto; /*to prevents vertical margins from transfering from children*/
  transition: transform .5s ease, opacity .5s ease;
  transform: translateY(0px);
  opacity: 1;

  &.delay {
    transition-delay: .1s;
  }
  
  &.new {
    transform: translateY(30px);
    opacity: 0;
    /* transition-delay: 5s; */
  }
  
  &.old {
    transform: translateY(-30px);
    opacity: 0;
    position: absolute;
    width: 100%; /* remember position absoltue work as inline, shrinks width */
    transition-delay: 0;
    /* transition-delay: 5s;  this one works, odl one stays!!!! */

  }
}

.in-transition {
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 200;
  margin-block-start: 70px;
  margin-block-end: 30px;
  text-shadow: 0 0 15px #fff;
}

.glass {
  border-radius: 15px; /* adds interesting accent at the corners */
  box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;

  & > * {
    display: block;
    height: 100%;

    border-radius: 5px;
    background-color: #ffffff11;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.067) 0%, rgba(255, 255, 255, 0.12) 20%, rgba(255, 255, 255, 0.067) 40%, rgba(255, 255, 255, 0.067) 65%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.067) 85%);
    border: 2px solid #ffffff11;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 0.2);
  }
}