project-overview-page {
  display: block;
  padding: 50px;
}

.project-step-page {
  &__title {
    text-align: center;
    font-size: 60px;
    color: #ffffff99;
    font-weight: 600;
    line-height: 1;
  }

  &__description {
    max-width: 400px;
    margin: 20px auto 50px;
    text-align: center;
  }
}

.project-overview-page__start-btn {
  display: block;
  width: fit-content;
  margin: 30px auto;

}