project-panel {
  /* border-radius: 15px; /* adds interesting accent at the corners */
  /* box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 0.1); */
  /* transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease; */

  a {
    padding: 15px 25px;
    height: 100%;
    /* border-radius: 5px; */
    display: flex;
    /* background-color: #ffffff11;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.067) 0%, rgba(255, 255, 255, 0.12) 20%, rgba(255, 255, 255, 0.067) 40%, rgba(255, 255, 255, 0.067) 65%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.067) 85%);
    border: 2px solid #ffffff11; */
    align-items: center;
    /* padding: 15px 25px; */
  }

  /* transition: transform 0.3s ease; */
  animation: .25s linear forwards --popout;

  &:hover {
    /* animation: .25s linear forwards --popin; */
    animation: .25s linear normal forwards --popin ;
  }

  h3 {
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 18px;
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
  }

  .visual {
    flex: 0 0 60px;
    min-width: 0;
    margin-inline-end: 20px;
    position: relative;

    svg {
      color: var(--text-secondary);
      filter: drop-shadow(0 0 5px #ffffff33);
    }

    .tag {
      position: absolute;
      /* position absolute on span makes background loook like display block,
      not display inline when bakcgorudn is onl behidn word(not the whole element) */
      transform: skew(0deg, -17deg);
        --bg: rgb(113, 96, 115);
        font-size: 20px;


      &:where(.html-css, .webgpu, .web-components, .general) span {
        
        display: inline;
        /* width: 40px; */

        padding: 5px;
        color: white;
        font-family: 'Squada One', sans-serif;
        font-variation-settings: "wdth" 60;
        font-variation-settings: "wght" 900;
        font-variation-settings: 'GRAD' 150;
        /* white-space: nowrap; */
        line-height: 1;

        background: var(--bg) none repeat scroll 0 0;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
      }

      &.html-css {
        --bg: magenta;
      }

      &.webgpu {
        --bg: rgb(255, 136, 0);
        bottom: -5px;
        left: -2px;
      }

      &.web-components {
        --bg: rgb(0, 180, 230);
        bottom: -10px;
        left: -10px;
        font-size: 18px;
      }
    }

  }
}


@keyframes --popin {
  0% {
    transform: perspective(100px) rotateX(0deg);
  }

  40% {
    transform: perspective(100px) rotateX(4deg) scale(1.04);
  }

  70% {
    transform: perspective(100px) rotateX(-2deg) scale(1.11);
  }

  100% {
    transform: perspective(100px) rotateX(0deg) scale(1.075);
  }
} 

@keyframes --popout {
  100% {
    transform: perspective(100px) rotateX(0deg);
  }

  70% {
    transform: perspective(100px) rotateX(4deg) scale(1.04);
  }

  40% {
    transform: perspective(100px) rotateX(-2deg) scale(1.11);
  }

  0% {
    transform: perspective(100px) rotateX(0deg) scale(1.075);
  }
} 









