project-panel {
  /* border-radius: 15px; /* adds interesting accent at the corners */
  /* box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 0.1); */
  /* transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease; */

  a {
    padding: 15px 25px;
    height: 100%;
    /* border-radius: 5px; */
    display: flex;
    /* background-color: #ffffff11;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.067) 0%, rgba(255, 255, 255, 0.12) 20%, rgba(255, 255, 255, 0.067) 40%, rgba(255, 255, 255, 0.067) 65%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.067) 85%);
    border: 2px solid #ffffff11; */
    align-items: center;
    /* padding: 15px 25px; */
  }

  &:hover {
    /* transform: scale(1.05); */
    /* background-color: rgba(255, 255, 255, 0.08);
    transform: scale(1.05);
    box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 0.2); */
  }

  svg {
    flex: 0 0 60px;
    min-width: 0;
    margin-inline-end: 20px;
    color: var(--text-secondary);
    filter: drop-shadow(0 0 5px #ffffff33);
  }

  h3 {
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 18px;
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
  }
}
