home-link {
  display: inline-block;
  flex: 0 0 auto;
  --anim-delay: .15s;

  .btn-content.btn-content {
    padding: 7px 8px;
    svg {
      transition: .3s ease margin-inline-end;
    }
  }

  .label-container {
    display: grid;
    grid-template-columns: 0fr;
    transition: grid-template-columns .3s;
  }

  .label {
    overflow: hidden;
    transition: .3s ease opacity var(--anim-delay);
    opacity: 1;
  }

  &:hover .label-container {
    grid-template-columns: 1fr;
  }

  &:not(:hover) {
    .label {
      opacity: 0;
      transition-delay: 0s;
    }
    .btn-content svg {
      transition-delay: var(--anim-delay);
      margin-inline-end: 0;
    }
  }

}