home-link {
  display: inline-block;
  flex: 0 0 auto;
  --anim-delay: 0.15s;
  --anim-time: 0.3s;

  .btn-content.btn-content {
    padding: 7px 8px;
    svg {
      transition: margin-inline-end var(--anim-time) ease;
    }
  }

  .label-container {
    display: grid;
    grid-template-columns: 0fr;
    transition: grid-template-columns var(--anim-time);
    overflow: hidden;
  }

  .label {
    min-width: 0;
    transition: opacity var(--anim-time) ease var(--anim-delay);
    opacity: 1;
  }

  &:hover .label-container {
    grid-template-columns: 1fr;
  }

  &:not(:hover) {
    .label {
      opacity: 0;
      transition-delay: 0s;
    }
    .btn-content svg {
      transition-delay: var(--anim-delay);
      margin-inline-end: 0;
    }
  }
}
