<style>
  project-stepper {
    display: block;
    padding: 5px;
  }
  project-stepper ol {
    display: flex;
    position: relative;
    gap: 20px;
  }
  project-stepper ol:before {
    content: "";
    position: absolute;
    inset: -5px;
    bottom: auto;
    height: 40px;
    border-radius: 20px;
    pointer-events: none;

    --progress: 50%;
    --primary: #ffffffcc;
    --secondary: #ffffff88;
    background: conic-gradient(from 0 at var(--progress) 50%, var(--secondary) 225deg, var(--primary) 225deg, var(--primary) 315deg, var(--secondary) 315deg);
    /* background: conic-gradient(from 0 at var(--progress) 50%, var(--secondary) 225deg, var(--primary) 225deg, var(--secondary) 270deg, var(--primary) 315deg, var(--secondary) 315deg); */
  }
</style>

<ol>
  <slot></slot>
</ol>
