code-block {
  font-size: 14px;
  line-height: 1.5;

  pre {
    max-height: 100%;
    box-sizing: border-box;
    display: grid;
    > * {
      grid-area: 1/1;
    }
  }

  pre[class*=language-] { /* just to create stronger selector to override default */
    background: #11111155;
    /* border: 1px solid #222; */
    margin: 0;
  }

  .overlay {
    background: #000000;
    opacity: 0.35;
    pointer-events: none;
    margin-inline: -1em;

    &:first-of-type {
      margin-block-start: -1lh;
    }

    &:last-of-type {
      margin-block-end: -1lh;
    }
  }

  &:hover .overlay {
    opacity: 0.2
  }

  .overlay-before {
    bottom: 100%;
  }

  .overlay-after {
    top: 100%;
  }
}
