code-block {
  font-size: 14px;
  line-height: 1.5;
  --code-padding: 0.7lh;

  pre {
    max-height: 100%;
    display: grid;
    > * {
      grid-area: 1/1;
    }
  }

  code {
    padding: var(--code-padding);
  }

  pre[class*=language-] { /* just to create stronger selector to override default */
    background: var(--code-background);
    /* border: 1px solid #222; */
    margin: 0;
    padding: 0;
  }
}
